@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter/Inter-Medium.eot");
	src: url("../fonts/Inter/Inter-Medium.eot?#iefix") format("embedded-opentype");
	src: url("../fonts/Inter/Inter-Medium.woff") format("woff");
	src: url("../fonts/Inter/Inter-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Theater-Atlas-Deco";
	src: url("../fonts/Theater-Atlas-Deco/Theater-Atlas-Deco.eot");
	src: url("../fonts/Theater-Atlas-Deco/Theater-Atlas-Deco.eot?#iefix") format("embedded-opentype");
	src: url("../fonts/Theater-Atlas-Deco/Theater-Atlas-Deco.woff") format("woff");
	src: url("../fonts/Theater-Atlas-Deco/Theater-Atlas-Deco.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Googlo";
	src: url("../fonts/Gogol/Gogol-Regular.eot");
	src: url("../fonts/Gogol/Gogol-Regular.eot?#iefix") format("embedded-opentype");
	src: url("../fonts/Gogol/Gogol-Regular.woff") format("woff");
	src: url("../fonts/Gogol/Gogol-Regular.ttf") format("truetype");
	font-style: normal;
}

* {
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
	-ms-transition-duration: .2s;
	-o-transition-duration: .2s;
	transition-duration: .2s;
	outline: 0;
	cursor: default;
	border-radius: 0;
	margin: 0;
	padding: 0;
}

body {
	background-color: transparent;
	font-family: "Inter";
	font-weight: normal;
	font-size: 18px;
	color: #444444;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

a, a:hover, a:active, a:visited {
	text-decoration: none;
	cursor: pointer;
}

.first-font {
	font-family: 'Theater-Atlas-Deco';
}

.second-font {
	font-family: 'Googlo';
}

.header {
	display: block;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	background-color: #444444;
	text-align: center;
	padding: 20px;
	/* height: 300px; */
	z-index: 4;
}

.header a {
	color: #fafafa;
	margin: 0 10px;
	cursor: pointer;
}

.header a * {
	cursor: pointer;
}

.header a > img {
	display: inline-block;
	width: 20px;
	height: 20px;
}

.header a > span {
	/* font-family: 'Googlo'; */
	margin: 0;
	font-size: 16px;
}

.content {
	width: 100%;
	padding-top: 100px;
}

.first-font {
	font-family: 'Theater-Atlas-Deco';
}

table {
	text-align: center;
}

tfoot {
	color: #fa8d39;
}

table tr td:first-child, thead {
	text-align: left;
	font-weight: 900;
}

table thead tr td:nth-child(2) {
	color: #08a100;
}

table thead tr td:nth-child(3) {
	color: #bcd100;
}

table tbody tr:nth-child(3n) {
	font-style: italic;
}

table tbody tr td:last-child {
	font-style: italic;
}

table td {
	width: 100px;
	border: 1px solid black;
}

.content {
	background-color: antiquewhite;
}

.bicycle {
	display: block;
	width: 50vw;
	margin: 0 auto;
}










.experiment div {
	color: #fa8d39;
}

.experiment > div {
	color: #08a100;
}